* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
}

.form-container {
    background-color: #fff;
    max-width: 450px;
    width: 95%;
    margin: auto;
    padding: 40px;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
}

#form {

}

.inputClass {

}

#name {
    background-color: red;
}

input {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.4rem 0;
    outline: none;
    font-size: 1rem;
    letter-spacing: 0.75px;
    border: none;
    border-bottom: 1.5px solid rgb(200, 200, 200);
    border-radius: 0;
}

input:focus {
    border-color: #ffbf02;
}

.form-heading {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.75px;
}

#submit {
    border: none;
    background-color: #ffbf02;
    color:#fff;
    text-shadow: 0 0 2px rgba(0,0,0,0.2);
    border-radius: 3px;
    padding: 0.6rem 0;
    width: 150px;
    margin-left: calc(100% - 150px);
    cursor: pointer;
    transition: 0.2s ease;
}

#submit:active {
    transform: translate(2px, 2px);
    box-shadow:none;
}
